@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Black.ttf) format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    top: 0;
    width: 100%;
    background-color: #1F2937;
    box-shadow: 1px 1px 5px 0px black;
    position: sticky;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
}

.side-menu {
    display: none;
}

nav {
    display: flex;
    padding: 2% 15%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
    cursor: default;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    cursor: pointer;
}

.nav-links li a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.nav-links li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #3882f6;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links li:hover::after {
    width: 100%;
}

.hero {
    display: flex;
    padding: 2% 15%;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
    background-color: #1F2937;
}

.hero div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: transitionOnLoad 1s;
    margin-right: 10px;
}

.hero div h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero div p {
    color: #E5E7EB;
    font-size: 18px;
    line-height: 36px;
    padding-right: 20%;
}

.hero div a {
    display: inline-block;
    text-decoration: none;
    color: #E5E7EB;
    border: 0;
    padding: 12px 34px;
    font-size: 18px;
    background-color: #3882f6;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    width: 200px;
    transition: 0.3s;
}

.hero div a:hover {
    box-shadow: 10px 5px 5px black;
    color: #3882f6;
    background-color: #E5E7EB;
    transform: scale(1.05);
}

.hero div a:active {
    box-shadow: 10px 5px 5px black;
    color: #3882f6;
    background-color: #E5E7EB;
    transform: scale(1) translateY(5px);
    
}

.hero img {
    border-radius: 20px;
    animation: transitionOnLoad 1s;
    width: fit-content;
}
@keyframes transitionOnLoad {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Info section styles */
.info {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
  }
  
  .info h3 {
    margin-top: 0;
    width: 100%;
    text-align: center; 
    font-size: 36px; 
    font-weight: 800; 
  }
  
  .info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 150px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for background color and box shadow */
  }
  
  .info-box:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Shadow effect for depth */
  }
  
  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blue; 
    border-radius: 10px; 
    width: 100px; 
    margin-bottom: 10px; 
  }
  
  .info-box img {
    width: 100px;
    height: 100px;
  }
  
  .info-subtext {
    text-align: center;
    font-size: 14px; 
  }
  
/*section three and four*/  
.sectionThree{
    background-color: #e5e7eb;
    padding: 10% 22%;
}

.quoteEl {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    margin-bottom: 5px;
}

.quoteAuthor {
    text-align: right;
    color: #1f2937;
}

.boldEl {
    font-weight: bold;
    font-weight: 900;
    margin-bottom: 5px;
}

.sectionFour {
    display: flex;
    justify-content: space-between;
    padding: 2% 8%;
    background-color: #3882f6;
    margin: 8% 15%;
    color: #E5E7EB;
    border-radius: 10px;
}

.ctaContainer {
    border: none;
    border-radius: 10px;
    padding: 12px 34px 12px 0;
}

button {
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    border: 2px solid #E5E7EB;
    border-radius: 10px;
    padding: 8px 30px;
    margin: 10px 0 10px 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    box-shadow: 10px 5px 5px black;
    color: #3882f6;
    background-color: #E5E7EB;
    transform: scale(1.05);
}

button:active {
    box-shadow: 10px 5px 5px black;
    color: #3882f6;
    background-color: #E5E7EB;
    transform: scale(1) translateY(5px);
}

@media only screen and (max-width: 600px) {
  }
@media only screen and (min-width: 601px) and (max-width: 1024px) {

  }
@media only screen and (min-width: 1025px) {
  }


footer {
    background: #1f2937;
    color: #E5E7EB;
    padding: 20px 0px;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

footer p {
    display: flex;
    align-items: center;
}

footer div a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    background-color: #3882f6;
    border-radius: 50%;
    transition: 0.5s;
}

footer div a i{
    font-size: 32px;
    color: #e5e7eb;
}

footer div a:hover {
    box-shadow: 10px 5px 5px black;
    transform: scale(1.05);
}

footer div a:active {
    box-shadow: 10px 5px 5px black;
    transform: scale(1) translateY(5px);
    
}

@media screen and (max-width: 768px) {
    header {
        display: block;
    }

    #logo {
        height: 82px;
    }
    
    .hamb{
        cursor: pointer;
        float: right;
        padding: 40px 20px;
    }

    .hamb-line {
        background: #e5e7eb;
        display: block;
        height: 2px;
        position: relative;
        width: 24px;
    
    }

    .hamb-line::before,
    .hamb-line::after{
        background: #e5e7eb;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .hamb-line::before{
        top: 5px;
    }

    .hamb-line::after{
        top: -5px;
    }
    
    /* Toggle menu icon */
    .side-menu:checked ~ nav{
        max-height: 100%;
    }

    .side-menu:checked ~ .hamb .hamb-line {
        background: transparent;
    }

    .side-menu:checked ~ .hamb .hamb-line::before {
        transform: rotate(-45deg);
        top:0;
    }
    
    .side-menu:checked ~ .hamb .hamb-line::after {
        transform: rotate(45deg);
        top:0;
    }

    nav {
        width: 100%;
        height: 100%;
        position: fixed;
        overflow: hidden;
        max-height: 0;
        transition: max-height .5s ease-out;
        display: block;
        padding: 0px;
        background-color: #1F2937;
    }

    .nav-links li {
        display: block;
    }

    .nav-links a {
        display: block;
        padding: 30px;
    }
    
    .hero {
        flex-wrap: wrap;
        padding: 2% 5%;
    }
    
    .hero div {
        align-items: center;
    }

    .hero div h1 {
        margin-top: 5%;
        font-size: 36px;
        text-align: center;
    }

    .hero div p {
        font-size: 16px;
        line-height: 32px;
        padding: 0% 5%;
        margin-top: 5%;
    }

    .hero div a {
        margin-top: 5%;
        padding: 12px 34px;
        font-size: 16px;
        width: 100px;
    }

    .hero img {
        width: 100%;
        padding: 5% 0px;
        border-radius: 50px;
     }

    footer {
        flex-direction: column;
        justify-content: center;
    }

}