@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Black.ttf) format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    top: 0;
    width: 100%;
    background-color: #1F2937;
    box-shadow: 1px 1px 5px 0px black;
    position: sticky;
    z-index: 1000;
}

nav {
    display: flex;
    padding: 2% 15%;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul {
    cursor: default;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    cursor: pointer;
}

.nav-links ul li a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #3882f6;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.hero {
    display: flex;
    padding: 2% 15%;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
    background-color: #1F2937;
}

.hero div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: transitionOnLoad 1s;
    margin-right: 10px;
}

.hero div h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero div p {
    color: #E5E7EB;
    font-size: 18px;
    line-height: 36px;
    padding-right: 20%;
}

.hero div a {
    display: inline-block;
    text-decoration: none;
    color: #E5E7EB;
    border: 0;
    padding: 12px 34px;
    font-size: 18px;
    background-color: #3882f6;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    width: 200px;
    transition: 0.3s;
}

.hero div a:hover {
    box-shadow: 10px 5px 5px black;
    color: #3882f6;
    background-color: #E5E7EB;
    transform: scale(1.05);
}

.hero div a:active {
    box-shadow: 10px 5px 5px black;
    color: #3882f6;
    background-color: #E5E7EB;
    transform: scale(1) translateY(5px);
    
}

.hero img {
    border-radius: 20px;
    animation: transitionOnLoad 1s;
    width: fit-content;
}

@keyframes transitionOnLoad {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 768px) {
    .hero {
        flex-wrap: wrap;
        padding: 2% 5%;
    }
    
    .hero div {
        align-items: center;
    }

    .hero div h1 {
        margin-top: 5%;
        font-size: 36px;
        text-align: center;
    }

    .hero div p {
        font-size: 16px;
        line-height: 32px;
        padding: 0% 5%;
        margin-top: 5%;
    }

    .hero div a {
        margin-top: 5%;
        padding: 12px 34px;
        font-size: 16px;
        width: 100px;
    }

    .hero img {
        width: 100%;
        padding: 5% 0px;
        border-radius: 50px;
     }

    footer {
        flex-direction: column;
        justify-content: center;
    }

}
/* Info section styles */
.info {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
  }
  
  .info h3 {
    margin-top: 0;
    width: 100%;
    text-align: center; 
    font-size: 36px; 
    font-weight: 800; 
  }
  
  .info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 150px;
  }
  
  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blue; /* Adds a blue border around the image */
    border-radius: 10px; /* Adds rounded edges */
    width: 100px; /* Adjusts to fit the image size */
    height: 100px;
    margin-bottom: 10px; /* Space between the image wrapper and subtext */
  }
  
  .info-box img {
    width: 100px;
    height: 100px;
  }
  
  .info-subtext {
    text-align: center;
    font-size: 14px; /* Adjust as needed */
  }

/*section three and four*/  
.sectionThree{
    background-color: #e5e7eb;
    padding: 10% 22%;
}

.quoteEl {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    margin-bottom: 5px;
}

.quoteAuthor {
    text-align: right;
}

.boldEl {
    font-weight: bold;
    font-weight: 900;
    margin-bottom: 5px;
}

.sectionFour {
    display: flex;
    justify-content: space-between;
    padding: 2% 8%;
    background-color: #3882f6;
    margin: 8% 15%;
    color: #E5E7EB;
    border-radius: 10px;
}

.ctaContainer {
    border: none;
    border-radius: 10px;
    padding: 12px 34px 12px 0;
}

button {
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    border: 2px solid #E5E7EB;
    border-radius: 10px;
    padding: 8px 30px;
    margin: 10px 0 10px 10px;
    cursor: pointer;
}

footer {
    background: #1f2937;
    color: #E5E7EB;
    padding: 3rem;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
}

footer p {
    display: flex;
    align-items: center;
}

footer div a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    background-color: #3882f6;
    border-radius: 50%;
    transition: 0.5s;
}

footer div a i{
    font-size: 32px;
    color: #e5e7eb;
}

footer div a:hover {
    box-shadow: 10px 5px 5px black;
    transform: scale(1.05);
}

footer div a:active {
    box-shadow: 10px 5px 5px black;
    transform: scale(1) translateY(5px);
    
}